{% for block in section.blocks %}
    {% assign slide_one = block.settings.slide_one %}
    {% assign slide_two = block.settings.slide_two %}
    {% assign white = block.settings.white %}
    {% assign black = block.settings.black %}
    {% assign background_color = block.settings.background_color %}
    {% assign text_colour = block.settings.text_colour %}

    <div id="carouselExampleIndicators" class="carousel slide bar col-12 p-2 d-flex align-items-center justify-content-center {{ background_color }}" data-ride="carousel">   
        <!-- data-interval="3000" -->
        <div class="carousel-inner bar-wrapper">
            <div class="carousel-item active bar-item">
                <p>{{ slide_one }}</p>
            </div>
            <div class="carousel-item bar-item">
                <p>{{ slide_two }}</p>
            </div>
        </div>
        </div>
{% endfor %}

{% schema %}
{
    "blocks": [
        {
            "name":"bar",
            "type":"bar",
            "settings": [
                {
                    "type":"text",
                    "label":"Text",
                    "id":"slide_one"
                },
                {
                    "type":"text",
                    "label":"Text",
                    "id":"slide_two"
                },
                {
                    "type":"select",
                    "label":"Background Colour",
                    "id":"background_color",
                    "options": [
                        {
                            "label":"Pink",
                            "value":"#ffc4c6"
                        },
                        {
                            "label":"Black",
                            "value":"#000"
                        }
                    ]
                },
                {
                    "type":"select",
                    "label":"Text Colour",
                    "id":"text_colour",
                    "options": [
                        {
                            "label":"Black",
                            "value":"#000"
                        },
                        {
                            "label":"White",
                            "value":"#fff"
                        }
                    ]
                }
            ]
        }
    ]
}
{% endschema %}

<style>
    .bar {
        background-color:{{ background_color }};
    }
    .bar p {
        color:{{ text_colour }};
    }
</style>