{% for block in section.blocks %}
{% assign background_image = block.settings.background_image %}
{% assign title = block.settings.title %}
{% assign deal_title = block.settings.deal_title %}
{% assign deal_category = block.settings.deal_category %}
{% assign icon = block.settings.icon %}
{% assign cta_url = block.settings.cta_url %}
{% assign cta_text = block.settings.cta_text %}

    <div class="deal-day-wrapper section" style="background-image:url({{ background_image | img_url: 'master'}});">
        <h3>{{ title }}</h3>
        <div class="deal-wrapper">
            <p>{{ deal_title }}</p>
            <div class="icon-wrapper" style="background-image:url({{ icon | img_url: 'master'}})"></div>
        </div>
        <a href="{{ cta_url }}" >{{ cta_text }}</a>
    </div>

{% endfor %}

{% schema %}
    {
        "blocks": [
            {
                "type":"promo",
                "name":"DealofDay",
                "settings": [
                    {
                        "type":"image_picker",
                        "label":"Background Image",
                        "id":"background_image"
                    },
                    {
                        "type":"text",
                        "label":"Title",
                        "id":"title"
                    },
                    {
                        "type":"text",
                        "label":"Deal of Day",
                        "id":"deal_title"
                    },
                    {
                        "type":"select",
                        "label":"Deal",
                        "id":"deal_category",
                        "options": [
                            {
                                "label":"succulents",
                                "value":"succulents"
                            },
                            {
                                "label":"cacti",
                                "value":"cacti"
                            }
                        ]
                    },
                    {
                        "type":"image_picker",
                        "label":"Icon",
                        "id":"icon"
                    },
                    {
                        "type":"url",
                        "label":"CTA URL",
                        "id":"cta_url"
                    },
                    {
                        "type":"text",
                        "label":"CTA Text",
                        "id":"cta_text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name":"Deal of the Day",
                "category":"Promotional"
            }
        ] 
    }
{% endschema %}
