
{% assign company_name = section.settings.company_name %}
{% assign company_slogan = section.settings.company_slogan %}
{% assign company_about = section.settings.company_about %}

<div class="footer-wrapper">
  <div class=" footer-content col-10">
      <div class="footer-list one col-2">
          <h4 class="title">{{ linklists.location.title }}</h4>
          {% for link in linklists.location.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="footer-list two col-2">
          <h4 class="title">{{ linklists.sitemap.title }}</h4>
          {% for link in linklists.sitemap.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="footer-list three col-2">
            <h4 class="title">{{ linklists.subscribe.title }}</h4>
            <form action="">
                <input type="text" placeholder="Email" required></input>
                <input type="submit" value=">">
            </form>
            <div class="icon-wrapper">
              <span class="icon icon-facebook" aria-hidden="true"></span>
              <span class="icon icon-twitter" aria-hidden="true"></span>
              <span class="icon icon-pinterest" aria-hidden="true"></span>
            </div> 
        </div>
  </div>
</div>

{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "type":"text",
        "label":"Company Name",
        "id":"company_name"
      }
    ],
    "presets": [
      {
        "name":"Footer",
        "category":"General"
      }
    ]
  }
{% endschema %}