{% for block in section.blocks %}
  {% assign color = block.settings.color %}
  {% assign company_name = block.settings.company_name %}

  <div class="menu-wrapper">
    <div class="menu-left col-1">
      <h3 class="logo">
        {{ company_name }} <span></span>
      </h3>
    </div>
    <div class="menu-center col-10">
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
    <div class="menu-right col-1">
        <span class="icon icon-cart" aria-hidden="true"></span>
        <span class="cart-count">{{ cart.item_count }}</span>
    </div> 
  </div>
{% endfor %}

{% schema %}
  {
    "blocks": [
      {
        "type":"menu",
        "name":"Menu",
        "settings": [
            {
                "id":"company_name",
                "type":"text",
                "label":"Company Name"
            },
            {
              "id":"color",
              "type":"select",
              "label":"Color of '.'",
              "options": [
                {
                  "label":"Pink",
                  "value":"#ffc4c6"
                },
                {
                  "label":"Black",
                  "value":"#000"
                }
              ]
            }
        ]
      }
    ]
  }
{% endschema %}

{% style %}
  .menu-wrapper .menu-left h3 span {
    background-color: {{ color }};
  }
{% endstyle %}